# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
# *.db        ← bỏ comment để không chặn hết .db
!database.db  # Giữ lại file database.db để git theo dõi

# Flask cache and logs
instance/
.webassets-cache
*.log

# Environment variables
.env

# IDE/editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Virtual environments
venv/
ENV/
env/

